<div class="container mt-4">
  <div class="row col-md-8 mx-auto">
    <div class="col-md-6">
      <img
        src="{{ item.url }}"
        class="rounded"
        alt="{{ item.name }}"
        style="max-width: 100%"
      />
    </div>
    <div class="col-md-6 my-auto">
      <h3>{{ item.name }}</h3>
      <h6>${{ item.price }}</h6>
      <p>{{ item.description }}</p>
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <label for="quantity">Quantity: </label>
        <input
          type="number"
          min="1"
          value="1"
          name="quantity"
          id="quantity"
          style="width: 50px; margin-left: 10px"
        />
        <button
          class="btn btn-primary my-3"
          style="display: block"
          type="submit"
        >
          Add To Cart
        </button>
      </form>
      <a href="">← Back to products list</a>
    </div>
  </div>
</div>
