<div class="card mb-3" style="width: 100%">
  <div class="card-body text-center">
    <div
      style="cursor: pointer"
      [routerLink]="[item.id]"
      routerLink="/products-list/item.id"
      (click)="goToProductDetail(item)"
    >
      <img
        src="{{ item.url }}"
        class="card-img-top"
        alt="{{ item.name }}"
        style="max-width: 100%"
      />
      <h5 class="card-title">{{ item.name }}</h5>
    </div>
    <p class="card-text mb-2">${{ item.price }}</p>

    <label for="quantity">Quantity: </label>
    <input
      type="number"
      min="1"
      max="8"
      name="quantity"
      [(ngModel)]="quantity"
      style="width: 50px; margin-left: 10px"
    />
    <button
      class="btn btn-primary mt-3"
      type="submit"
      (click)="addToCart(item, quantity)"
    >
      Add To Cart
    </button>
  </div>
</div>
